*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    background-color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem 0.6rem;
    border-radius: 24px;
    border: 1px solid var(--background);
    background-color: var(--foreground);
    font-weight: 600;
    cursor: pointer;
    min-width: 55%;
}

button:hover {
    border: 1px solid var(--hover);
    background-color: var(--hover);
    color: var(--foreground);
    transition: all var(--anim-timing);
}

i {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 26px;
    }
}

:root {
    --bar-width: 50px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --foreground: #fff;
    --background: #111;
    --hover: #1565c0;
    --button-bg: #444;
    --hamburger-margin: 1.2rem;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --anim-timing: 200ms ease-in-out;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    /* position: absolute; */
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    position: fixed;
}

.hamburger-menu:has(input:checked) {
    --foreground: #333;
    --background: #fff;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after
.hamburger-menu:has(input:focus-visible) {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 2px var(--background);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--anim-timing), width var(--anim-timing), rotate var(--anim-timing), translate var(--anim-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--anim-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-margin) + var(--hamburger-height) + 1rem);
    background-color: var(--background);
    color: var(--foreground);
    max-width: 13rem;
    min-height: 100vh;
    position: fixed;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

a,
a:visited,
a:link {
    display: block;
    padding: 0.5rem 0.6rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    max-width: max-content;
}

.sidebar a:visited,
.sidebar a:link {
    color: var(--foreground);
}

.sidebar a:hover {
    color: var(--hover);
    transition: color var(--anim-timing);
}

.topnav a:visited:not(:first-child),
.topnav a:link:not(:first-child) {
    color: var(--background);
}

.topnav a:hover:not(:first-child) {
    padding-bottom: 4px;
    border-radius: 0px;
    color: var(--hover);
    border-bottom: 4px solid var(--hover);
    transition: color var(--anim-timing), border var(--anim-timing);
}

/* Main content */

.topnav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--background);
}

.topnav a:first-child {
    position: absolute;
    font-size: 35px;
    left: 4rem;
}

.topnav a:link:first-child,
.topnav a:visited:first-child {
    color: var(--background);
}

@media screen and (max-width: 1024px) {
    .topnav a {
        display: none;
    }

    .topnav a:not(:first-child) {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .topnav a:not(:first-child) {
        display: none;
    }
}

/* Blocks */

.box {
    padding: 0.6rem;
    border: 1px solid var(--background);
    border-radius: 24px;
    text-align: center;
}

.box:hover {
    transform: scale(1.1);
    transition: transform var(--anim-timing);
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.8rem;
    text-align: left;
    height: 100%;
}

.grid {
    display: grid;
}

.grid-container {
    width: 100%;
}

.img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.img-container {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .img {
        max-width: 250px;
    }
    
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 3rem;
    height: 100vh;
    margin-bottom: 3rem;
}

.text-header,
.text-para {
    text-align: center;
}

.text-para {
    font-size: 3.5vmin;
    color: #444
}

.text-header {
    font-size: 6.5vw;
    color: var(--background);
}

/* Elements */

.card__header-main {
    font-size: 4vh;
    font-weight: 800;
    line-height: 1.2;
}

.card__header-sub {
    font-size: 3vh;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0.6rem;
    color: var(--button-bg);
}

.card__content {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    text-align: left;
}

.section__content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .section__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

.grid-container__column {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 10px;
    margin-bottom: 1rem;
}

.grid-container__row {
    margin: 0 -10px;
}

.grid-container__row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1024px) {
    .grid-container__column {
        width: 100%;
        display: block;
        margin-bottom: 0.8rem;
    }
    
}

/* Modifiers */

.grid--box {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    justify-content: center;
    gap: 1.4rem;
}

.grid--about {
    grid-template-rows: repeat(2,auto);
    width: fit-content;
    gap: 1rem
}

@media screen and (max-width: 768px) {
    .grid--box {
        grid-template-columns: repeat(2, minmax(180px, 280px));
        gap: 1rem;
    }
}

.img--circle {
    border-radius: 50%;
}

.img--rounded {
    border-radius: 24px;
}

.section--home {
    flex-direction: row;
    gap: 2rem;
}

.section--about {
    flex-direction: column;
    gap: 2rem;
}

.section--projects {
    flex-direction: column;
    height: max-content;
    gap: 1rem;
    margin-bottom: 3rem;
}

.section--contact {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .section--home {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}

.section__social-media {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.section__social-media--left {
    justify-content:left;
}

.text-para--small {
    font-size: 2.6vmin;
    font-weight: 400;
}

.text-header--small {
    font-size: 3.5vw;
    font-weight: 800;
}

.--button-secondary {
    background-color: var(--background);
    color: var(--foreground);
}

.container {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    padding: 0.6rem 0;
}

.--flexwrap {
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--button-bg);
    border-radius: 24px;
    padding: 1rem 1.2rem;
    max-width: 400px;
}

.project-container:hover {
    transform: scale(1.1);
    transition: transform var(--anim-timing);
}

.project-container img {
    max-width: 260px;
    height: auto;
    border-radius: 24px;
    margin-bottom: 0.8rem;
}

.project-container p.title {
    font-size: 1.2rem;
}

.section#side-hobbies {
    justify-content: center;
    gap: 1rem;
}

.section#contact {
    display: block;
}

#contact-container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--button-bg);
    border-radius: 18px;
    margin: auto;
    height: 2rem;
    width: 450px;
}

#contact-container > button {
    background: none;
    padding: 0.6rem 0.8rem;
    min-width: 0;
    width: max-content;
    border: none;
    font-size: 0.5rem;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .section {
        height: max-content;
        margin-bottom: 3rem;
        padding: 0.5rem 1rem;
    }

    .section--home {
        margin-top: 4rem;
    }

    .section__img {
        width: 250px;
        height: 250px;
    }   

    .project-container {
        max-width: 280px;
    }

    #contact-container {
        max-width: 350px;
    }
}